*{
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}


body {
background-color: #f4f4f4;
font-family: "Helvetica", Arial, sans-serif;
color: #333;
margin: 0;
padding: 20px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
 
}
main {
    max-width: 850px;
    margin: 0 auto;
    padding: 0px; 
} 

#main-title {

font-size: 36px;
font-weight: bold;
font-family: "Helvetica", Arial, sans-serif;
}

.main-subtitle {
font-size: 24px;
font-weight:400;
font-family: "Helvetica", Arial, sans-serif;
}
 

.title {
font-size: 22px;
font-weight: bold;
color: #111;
}

 
#profile-pic {
width: 120px;
height: 120px;
border-radius: 50%;
border: 2px solid #000;
padding: 5px;
object-fit: cover;
display: block;
margin-bottom: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


 
p {
line-height: 1.6;
font-size: 16px;
}


a {
color: #000;
text-decoration: none;
}


a:hover {
text-decoration: underline;
}

 
details {
margin-top: 15px;
}


summary {
cursor: pointer;
}

 
hr {
border: none;
height: 1px;
background: #ccc;
margin: 25px 0;
}