*{
        box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}


body {

    background-color: black;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
    height: 100dvh;
    filter: blur(0px);
 
 
}
.logo-gif{
  top: 10px;
    margin: auto 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    scale: 1;
    height: auto;
    border: 0px solid #ffffff;
    border-radius: 30px;
   transform: rotate(0deg);
    animation: rotate 5s ease infinite;
 box-shadow: inset 5px 5px 10px #000000;
 transition: border 0.1s ease;
 background: linear-gradient(115deg,rgb(71, 255, 141) 0%,rgb(71, 255, 148) 5%,rgb(71, 255, 148) 5%,rgb(71, 255, 148) 42%,rgb(255, 255, 255) 49%,rgb(255, 255, 255) 53%,rgb(71, 255, 154) 59%,rgb(71, 255, 163) 100%);
 
}
.logo-gif:hover{
       border: 2px solid #ffffff;
      animation: rotate 5s ease infinite, light 1.3s infinite;
     
}
 
@keyframes rotate {
    0% {  transform: rotate(0deg);}
    20% {   transform: rotate(0deg);}
     30% { transform: rotate(15deg); }
    40% { transform: rotate(-55deg);}
     60% { transform: rotate(360deg); }
    70% { transform: rotate(-10deg);}
     80% {  transform: rotate(0deg);}
    100% {   transform: rotate(0deg);}
}
@keyframes light {
  0% {
        background-position:-600px; 
  }
  100% { 
        background-position:0px; 
  }
}