
.img-box{

 width: 100%;
 height: 100px;
}

.box-text{
        position: absolute;
        margin: 0 auto;
        width: 100%;
        text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
}
img {
  border: solid 3px #000000;
  border-radius: 15px;
  width: 100%;
 
}