 
body {
  background: #fff9e7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}



main{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;

}

.center { text-align: center; }


.logo{
 width: 120px;
height: 120px;
border-radius: 50%;
border: 2px dashed #000;
padding: 5px;
object-fit: cover;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

 
#titulo {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Trebuchet MS', sans-serif;
  margin-bottom: 0px;
}

 
.subtitulo {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 0px;

}

 
nav {
  margin: 20px auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

figure{
  padding: 0;
    margin: 0;
}
figcaption{
    
    text-align: left;
    position: relative;
    font-size: 1.5rem;
    top: -40px;
    padding-left: 15px;
    color: white;
}


.nav-bar{
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    border-radius: 30px;
    gap: 5px;
}

.nav-bar a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none ;
}
 
.nav-bar a:link     { color: #333; }
.nav-bar a:visited  { color: #555; }
.nav-bar a:hover    { background: #ffffff; color: black;   padding: 5px 15px;}
.nav-bar a:active   { transform: scale(0.95); }

.links-cidades{
    display: flex;
    gap: 10px;
    text-decoration: none ;
}

.links-cidades a:link     { color: #333; }
.links-cidades a:visited  { color: #555; }
.links-cidades a:hover    { background: #ffffff; color: black; border: 1px solid black;  }
.links-cidades a:active   { transform: scale(0.95); }


.links-cidades a{
   padding: 5px 10px;
   border: 1px solid rgba(0, 0, 0, 0.678);
   border-radius: 30px;
    text-decoration: none ;
}
 
.sobre::first-letter {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  color: #000000;
}

 
p {
    font-size: 1rem;
  line-height: 1.5;
  margin-top: 0px;
}
 
img {
  border: solid 3px #000000;
  border-radius: 15px;
  width: 100%;
}

 
.tabela {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  
}

.tabela th,
.tabela td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

.linha-branca { background: #fff; }
.linha-cinza { background: #eee; }
